@use "sass:math";
@use "sass:string";

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}


html,
body {
  height: 100%;
  margin: 0;
}

.moloko-input,
.moloko-preview {

  .scrollbar.horizontal  {
    height: 2px !important;
  }

}


table.parse-table {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  overflow: scroll;
  color: #000;
  font-size: .65rem;
  font-family: $moloko-font-title;
  border-collapse: collapse;


  .index{
    font-weight: 600;
  }

  .index,
  .number {
    min-width: 5em;
    color: #000;
    text-align: center;
  }


  .stack {
    min-width: 6em;
    color: #000;
    text-align: left;
  }

  .lexer {
    min-width: 7em;
    color: #000;
    text-align: left;
  }

  .type {
    min-width: 10em;
    color: #000;
    text-align: left;
  }

  .token {
    width: 100%;
    text-align: left;
  }


  thead {
    background-color: #fee;

    tr {
      font-weight: 600;
    }
  }


  th {
    position: sticky;
    top: 0;
    background-color: #db94ae;
    border-bottom: 0.01rem solid $moloko-border-color;
  }

  tr {
    display: table-row;
    border-bottom: 0.01rem solid $moloko-border-color;


    &.markup {
      &.odd {
        background-color: #fee;
      }

      &.even {
        background-color: #fdd;
      }

      &.active {
        background-color: #ffa !important;
      }
    }

    &.script {
      &.odd {
        background-color: #ded;
      }

      &.even {
        background-color: #eefff8;
      }

      &.active {
        background-color: #ffa !important;
      }
    }

    &.style {
      &.odd {
        background-color: #eef8ff;
      }

      &.even {
        background-color: #def;
      }

      &.active {
        background-color: #ffa !important;
      }
    }


    &:hover {
      background-color: #ffa !important;
      cursor: pointer;
    }

    th,
    td {
      display: table-cell;
      padding: 3px 5px;
      border-right: 0.01rem solid $moloko-border-color;


      pre {
        margin: 0 !important;
        background-color: transparent;

        code {
          padding: 0;
          color: #000;
          font-size: .72rem;
        }
      }
    }
  }
}

.moloko-toggle {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 999;
  height: 50px;

  .btn {
    padding: 7px 15px;
    color: #fff;
    font-size: 0.65rem;
    background-color: transparent;
    border: 0.01rem solid $moloko-border-color;
  }

}

.moloko-language {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 300;
  width: 200px;
  height: 100%;
  margin-left: 75px;
  overflow-y: scroll;
  background-color: #12161d;
  border-right: 0.01rem solid $moloko-border-color;
  transform: translateX(-200px);

  &.close,
  &.open {
    transform: translateX(0);
  }

  &::-webkit-scrollbar-track {
    background-color: $moloko-background-editor;
  }

  &::-webkit-scrollbar {
    width: 2px;
    background-color: #384355;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #384355;
  }


  .language-label {
    padding: 30px 0;
    color: #384355;
    font-weight: 600;
    font-size: 0.8rem;
    font-family: system-ui, sans-serif;
    text-align: center;
    text-transform: uppercase;
    -webkit-font-smoothing: antialiased;
  }

  .btn-language {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    width: 100%;
    padding: 18px 20px;
    color: #fafafa;
    text-align: left;
    background: transparent;
    border: 0;
    border-left: 1.5px solid transparent;

    &.current {
      color: var(--moloko-accent);
      border-left: 1.5px solid var(--moloko-accent);

      &:hover {
        cursor: initial;
      }
    }

    &:hover {
      border-left: 1.5px solid var(--moloko-accent);
      cursor: pointer;

      > svg {
        transition: fill 0.15s linear;
        fill: var(--moloko-accent);
      }
    }

    > svg {
      width: 22px;
      height: 17px;
      overflow: visible;
    }
  }
}


.moloko-editor {
  position: absolute;
  inset: 0;
  display: flex;
  flex-flow: row nowrap;
  align-items: stretch;
  justify-content: space-evenly;
  margin: 0;
  padding: 0;
  padding-left: 75px;
  overflow: hidden;
  background-color: $moloko-background-editor;
  -webkit-font-smoothing: antialiased;
}

@function divide($dividend, $divisor, $precision: 10) {
  $sign: if($dividend > 0 and $divisor > 0 or $dividend < 0 and $divisor < 0, 1, -1);
  $dividend: math.abs($dividend);
  $divisor: math.abs($divisor);

  @if $dividend == 0 {
    @return 0;
  }

  @if $divisor == 0 {
    @error "Cannot divide by 0";
  }
  $remainder: $dividend;
  $result: 0;
  $factor: 10;

  @while  $remainder > 0 and $precision >= 0 {
    $quotient: 0;

    @while  $remainder >= $divisor {
      $remainder: $remainder - $divisor;
      $quotient: $quotient + 1;
    }
    $result: $result * 10 + $quotient;
    $factor: $factor * .1;
    $remainder: $remainder * 10;
    $precision: $precision - 1;

    @if  $precision < 0 and $remainder >= $divisor * 5 {
      $result: $result + 1;
    }
  }
  $result: $result * $factor * $sign;
  $dividend-unit: math.unit($dividend);
  $divisor-unit: math.unit($divisor);
  $unit-map: (
    "px": 1px,
    "rem": 1rem,
    "em": 1em,
    "%": 1%
  );

  @return $result;
}

@function percent($target, $parent: "") {
  @return string.unquote($parent + divide($target, 16px) + "%");
}

.moloko-esthetic {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 75px;
  flex-grow: 1;
  width: percent(600px);
  background-color: #12161d;
  transform: translateX(percent(-600px));

  &.close,
  &.open {
    transform: translateX(0);
  }

  &::after {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 40%;
    z-index: 1;
    display: flex;
    justify-content: center;
    height: 100%;
    color: rgb(50 55 64 / 35%);
    font-weight: 900;
    font-size: 2.5rem;
    font-family: $moloko-font-title;
    font-style: italic;
    text-transform: uppercase;
    text-decoration: none;
    text-orientation: mixed;
    transition: left 200ms;
    content: attr(aria-label);
    writing-mode: vertical-rl;
  }
}

.moloko-sidebar {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 400;
  display: flex;
  flex-flow: column wrap;
  width: percent(75px);
  height: 100%;
  background-color: $moloko-background-sidebar;
  border-right: 0.01rem solid $moloko-border-color;

  .btn-language {
    display: flex;
    justify-content: center;
    padding: 20px 0;
    background-color: $moloko-background-editor;
    border: none;
    cursor: pointer;
    transition: background 0.3s linear;


    svg {
      width: 20px;
      height: 20px;
      margin-left: -5px;
      overflow: visible;
    }
  }

  .btn-action {
    padding: 30px 25px;
    color: #fafafa;
    background: transparent;
    border: none;
    cursor: pointer;

    &.active {
      color: $moloko-button-hover;
    }

    &:hover {
      color: $moloko-button-hover;
      transition: color 0.15s linear;
    }
  }
}


.moloko {

  &-input,
  &-preview {
    flex-grow: 1;
    width: 50%;
  }


  &-input + &-preview {
    margin-left: 0;
  }


  /* -------------------------------------------- */
  /* LANGUAGE TOGGLE                              */
  /* -------------------------------------------- */

  &-language.open + &-esthetic + &-input {
    z-index: 300;
    margin-left: percent(200px);
    transition: margin-left 300ms;
  }


  &-language.close + &-esthetic + &-input {
    z-index: 300;
    transition: margin-left 300ms;
  }


  /* -------------------------------------------- */
  /* SIDEBAR TOGGLE                               */
  /* -------------------------------------------- */

  &-esthetic.open + &-input {
    margin-left: 37.5%;
    transition: margin-left 300ms,
  }

  &-esthetic.close + &-input,
  &-esthetic.close + &-input + &-preview {
    transition: margin-left 300ms,
  }


  &-esthetic.open + &-input + &-preview {
    margin-left: -59.5%;
    transition: margin-left 300ms;
  }


}


$spinner-width: 3rem;
$spinner-height: $spinner-width;
$spinner-border-width: .3rem;
$spinner-width-sm: 1rem;
$spinner-height-sm: $spinner-width-sm;
$spinner-border-width-sm: .15rem;
$spinner-vertical-align: -.125em;
$spinner-border-color: $moloko-button-active;
$spinner-animation-speed: .65s;

@keyframes spin {
  to {
    transform: rotate(360deg) #{"/* rtl:ignore */"};
  }
}

.spinner {
  display: inline-block;
  width: $spinner-width;
  height: $spinner-height;
  vertical-align: $spinner-vertical-align;
  border: $spinner-border-width solid #42434E;
  border-right-color: $spinner-border-color;
  border-radius: 50%;
  animation: $spinner-animation-speed linear infinite spin;
}

