.moloko-iframe {
  position: absolute;
  top: 40px;
  right: 0;
  bottom: 0;
  z-index: 99999;
  flex-grow: 1;
  width: 50%;
  height: 100%;
  background-color: #fff;
  border-top: $moloko-border-width solid $moloko-border-color;
  user-select: none;
}
