.moloko-tabs {
  position: absolute;
  top: 0;
  z-index: 9999;
  display: flex;
  justify-content: flex-start;
  width: 100%;
  height: $moloko-tab-height;
  background-color: $moloko-background-language;
  border-bottom: $moloko-border-width solid $moloko-border-color;

  .ml-btn {
    display: flex;
    align-items: center;
    margin-bottom: -1px;
    padding: 8px 12px 12px 15px;
    color: $moloko-tab-color;
    background-color: transparent;
    border-right: $moloko-border-width solid $moloko-border-color;

    svg {
      width: 16px;
      height: 16px;
      overflow: visible;

      + span {
        margin-top: 6px;
        margin-right: 15px;
        margin-left: 15px;
      }
    }

    svg + span + svg {
      width: 14px;
      height: 14px;
      margin-top: 5px;
      color: $moloko-border-color;
      visibility: hidden;
    }

    &:hover {

      svg + span + svg {
        color: $moloko-button-color;
        visibility: visible;
      }
    }

    &.create {
      border-right: none;

      > svg {
        width: 18px;
        height: 18px;
        margin-top: 4px;
      }
    }

    &.active {
      margin-bottom: -1px;
      color: $moloko-tab-color;
      background-color: $moloko-tab-active;
    }
  }
}
