$tooltip-bg: #000;
$tooltip-font-family: system-ui, sans-serif;
$tooltip-font-style: normal;
$tooltip-font-size: 0.5rem;
$tooltip-font-color: #fafafa;
$tooltip-padding-y: 0.3rem;
$tooltip-padding-x: 0.6rem;
$tooltip-arrow-size: 9px;
$tooltip-radius: 0;
$tooltip-border-width: 0.03rem;
$tooltip-animation: true;
$tooltip-use-outline: false;
$tooltip-arrow-directions: (
  bottom: top,
  top: bottom,
  left: right,
  right: left
);

@mixin arrow($direction) {
  width: 0;
  height: 0;

  @if not map-has-key($tooltip-arrow-directions, $direction) {
    $keys: map.keys($tooltip-arrow-directions);

    @error "[tooltip] The $direction parameter must be one of: `#{$keys}, `#{$direction}` was given.";
  }


  @if $tooltip-use-outline {
    border: $tooltip-arrow-size solid transparent;
    border-#{map-get($tooltip-arrow-directions, $direction)}-color: $tooltip-bg;
  } @else {
    border: $tooltip-arrow-size solid transparent;
    border-#{map-get($tooltip-arrow-directions, $direction)}-color: $tooltip-bg;
  }
}

@mixin base-effects() {
  opacity: 0;
  pointer-events: none;

  @if $tooltip-animation {
    transition: opacity 0.12s ease-out 0.12s,
      transform 0.12s ease-out 0.12s;
  } @else {
    transition: none;
  }
}

@mixin normalized-text() {
  font-weight: 400;
  font-size: $tooltip-font-size;
  font-family: $tooltip-font-family;
  font-style: normal;
  font-style: $tooltip-font-style;
  text-indent: 0;
  text-shadow: none;
  -webkit-font-smoothing: antialiased;
}


// Styles
// -----------------------------------------

// IE 11 button bugfix
button[aria-label] {
  &[data-tooltip] {
    overflow: visible;
  }
}

[aria-label] {
  &[data-tooltip] {
    position: relative; // alt. absolute or fixed
    cursor: pointer; // Fixing iOS Safari event issue. More info at: https://goo.gl/w8JF4W

    &::after {
      @include base-effects;
      @include normalized-text;

      @if $tooltip-use-outline {
        color: $tooltip-font-color;
        background: inherit;
        border: $tooltip-border-width solid $tooltip-bg;
      } @else {
        color: $tooltip-font-color;
        background: $tooltip-bg;
      }

      position: absolute;
      z-index: 99999;
      padding: $tooltip-padding-y $tooltip-padding-x;
      white-space: nowrap;
      border-radius: $tooltip-radius;
      content: attr(aria-label);
    }

    &::before {
      @include arrow(bottom);
      @include base-effects;

      position: absolute;
      z-index: 400;
      content: "";
    }

    &:hover,
    &[data-tooltip*=":show"] {
      &::before,
      &::after {
        opacity: 1;
        pointer-events: none;
      }
    }

    &[data-tooltip="top"],
    &[data-tooltip="bottom"] {
      &:hover {
        &::after,
        &::before {
          transform: translate(-50%, 0);
        }
      }
    }

    &[data-tooltip*="-left"] {
      &::after {
        left: 0;
      }

      &::before {
        left: 5px;
      }
    }

    &[data-tooltip*="-right"] {
      &::after {
        right: 0;
      }

      &::before {
        right: 5px;
      }
    }

    &[data-tooltip*="-left"],
    &[data-tooltip*="-right"] {
      &:hover {
        &::before,
        &::after {
          transform: translate(0, 0);
        }
      }
    }

    &[data-tooltip^="top"] {
      &::before,
      &::after {
        bottom: 100%;
        transform: translate(0, 0);
        transform-origin: top;
      }

      &::after {
        margin-bottom: $tooltip-arrow-size + 5px;
      }
    }

    &[data-tooltip="top"] {
      &::before,
      &::after {
        left: 50%;
        transform: translate(-50%, 0);
      }
    }

    &[data-tooltip^="bottom"] {
      &::before,
      &::after {
        top: 100%;
        transform: translate(0, calc(0 * -1));
      }

      &::after {
        margin-top: $tooltip-arrow-size + 5px;
      }

      &::before {
        @include arrow(top);
      }
    }

    &[data-tooltip="bottom"] {
      &::after,
      &::before {
        left: 50%;
        transform: translate(-50%, calc(0 * -1));
      }
    }

    &[data-tooltip="left"],
    &[data-tooltip="right"] {
      &:hover {
        &::before,
        &::after {
          transform: translate(0, -50%);
        }
      }
    }

    &[data-tooltip="left"] {
      &::after,
      &::before {
        top: 50%;
        right: 100%;
        transform: translate(0, -50%);
      }

      &::after {
        margin-right: $tooltip-arrow-size + 5px;
      }

      &::before {
        @include arrow(right);
      }
    }

    &[data-tooltip="right"] {
      &::after,
      &::before {
        top: 50%;
        left: 75%;
        transform: translate(calc(0 * -1), -50%);
      }

      &::after {
        margin-left: $tooltip-arrow-size + 5px;
      }

      &::before {
        @include arrow(left);
      }
    }
  }
}
