@mixin arrow($direction) {
  width: 0;
  height: 0;

  @if not map-has-key($moloko-tooltip-arrow-directions, $direction) {
    $keys: map.keys($moloko-tooltip-arrow-directions);

    @error "[tooltip] The $direction parameter must be one of: `#{$keys}, `#{$direction}` was given.";
  }
}

@mixin base-effects() {
  opacity: 0;
  transition: opacity 0.12s ease-out 0.12s, transform 0.12s ease-out 0.12s;
  pointer-events: none;
}

@mixin normalized-text() {
  font-weight: 400;
  font-size: var(--moloko-tooltip-font-size);
  font-family: var(--moloko-tooltip-font-family);
  font-style: normal;
  font-style: var(--moloko-tooltip-font-style);
  text-indent: 0;
  text-shadow: none;
  -webkit-font-smoothing: antialiased;
}


// Styles
// -----------------------------------------

// IE 11 button bugfix
button[aria-label] {
  &[data-tooltip] {
    overflow: visible;
  }
}

[aria-label] {
  &[data-tooltip] {
    position: relative; // alt. absolute or fixed
    cursor: pointer; // Fixing iOS Safari event issue. More info at: https://goo.gl/w8JF4W

    &::after {
      position: absolute;
      z-index: 99999;
      padding: var(--moloko-tooltip-padding-y) var(--moloko-tooltip-padding-x);
      color: var(--moloko-tooltip-font-color);
      white-space: nowrap;
      background: var(--moloko-tooltip-bg);
      border-radius: var(--moloko-tooltip-radius);
      content: attr(aria-label);

      @include base-effects;
      @include normalized-text;
    }

    &::before {
      @include arrow(bottom);
      @include base-effects;

      position: absolute;
      z-index: 400;
      content: "";
    }

    &:hover,
    &[data-tooltip*=":show"] {
      &::before,
      &::after {
        opacity: 1;
        pointer-events: none;
      }
    }

    &[data-tooltip="top"],
    &[data-tooltip="bottom"] {
      &:hover {
        &::after,
        &::before {
          transform: translate(-50%, 0);
        }
      }
    }

    &[data-tooltip*="-left"] {
      &::after {
        left: 0;
      }

      &::before {
        left: 5px;
      }
    }

    &[data-tooltip*="-right"] {
      &::after {
        right: 0;
      }

      &::before {
        right: 5px;
      }
    }

    &[data-tooltip*="-left"],
    &[data-tooltip*="-right"] {
      &:hover {
        &::before,
        &::after {
          transform: translate(0, 0);
        }
      }
    }

    &[data-tooltip^="top"] {
      &::before,
      &::after {
        bottom: 100%;
        transform: translate(0, 0);
        transform-origin: top;
      }

      &::after {
        margin-bottom: var(--moloko-tooltip-arrow-size) + 5px;
      }
    }

    &[data-tooltip="top"] {
      &::before,
      &::after {
        left: 50%;
        transform: translate(-50%, 0);
      }
    }

    &[data-tooltip^="bottom"] {
      &::before,
      &::after {
        top: 100%;
        transform: translate(0, calc(0 * -1));
      }

      &::after {
        margin-top: var(--moloko-tooltip-arrow-size) + 5px;
      }

      &::before {
        @include arrow(top);
      }
    }

    &[data-tooltip="bottom"] {
      &::after,
      &::before {
        left: 50%;
        transform: translate(-50%, calc(0 * -1));
      }
    }

    &[data-tooltip="left"],
    &[data-tooltip="right"] {
      &:hover {
        &::before,
        &::after {
          transform: translate(0, -50%);
        }
      }
    }

    &[data-tooltip="left"] {
      &::after,
      &::before {
        top: 50%;
        right: 100%;
        transform: translate(0, -50%);
      }

      &::after {
        margin-right: var(--moloko-tooltip-arrow-size) + 5px;
      }

      &::before {
        @include arrow(right);
      }
    }

    &[data-tooltip="right"] {
      &::after,
      &::before {
        top: 50%;
        left: 75%;
        transform: translate(calc(0 * -1), -50%);
      }

      &::after {
        margin-left: var(--moloko-tooltip-arrow-size) + 5px;
      }

      &::before {
        @include arrow(left);
      }
    }
  }
}
