$moloko-font-title: consolas, monaco, "Andale Mono", "Ubuntu Mono",
  monospace;

$moloko-button-color: #fafafa;
$moloko-button-hover: #e45589;
$moloko-button-active: #e45589;

$moloko-tab-height: 40px;
$moloko-tab-color: #fafafa;
$moloko-tab-active: #0f1215;
$moloko-tab-inactive: #13171a;

$moloko-background-sidebar: #0f1215;
$moloko-background-editor: #0f1215;
$moloko-background-language: #13171a;

$moloko-border-color: #2d333a;
$moloko-border-width: 0.01rem;

$moloko-zindex-sidebar: 100;
$moloko-zindex-editor: 200;
$moloko-zindex-preview: 300;
$moloko-zindex-rules: 300;
